<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Tabela para Pontuação</title>
    <link href="sites.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <center>
<h1>Tabela para Pontuação</h1>
   </center>
     <section>
				<div>
           <ul>
            <li>
                <a href="home">Inicial</a>
            </li>
            <li>
                <a href="cadastrar">Cadastro</a>
            </li>
            <li>
                <a href="agendamento">Agendamento</a>
            </li>
            <li>
                <a href="pontuacao">Pontuação</a>
            </li>
            <li>
                <a href="material">Materiais</a>
            </li>
        </ul>     
        </div>
    </section>
    <table>
  <table border="1">
 <tr>
  <th align="left">Material</th>
  <th align="left">Pontos p/ KG</th>
 </tr>
 <tr>
  <td align="left">Garrafas de Vidro Branco</td>
  <td align="right">300</td>
 </tr>
 <tr>
  <td align="left">Papel Jornal</td>
  <td align="right">1500</td
 </tr>
 <tr>
  <td align="left">Latinhas</td>
  <td align="right">3000</td>
 </tr>
 <tr>
  <td align="left">Garrafas PET Cristal</td>
  <td align="right">1300</td>
 </tr>
</table>
    </table>    
  </body>
</html>