<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Formulário de Inscrição</title>
    <link href="~/css/sites.css" rel="stylesheet" type="text/css">
</head>
<body>
    <center>
        <h1>Re-Ciclo</h1>
    </center>
    <section>
         <div>
        <ul>
            <li>
                <a href="home">Inicial</a>
            </li>
            <li>
                <a href="cadastrar">Cadastro</a>
            </li>
            <li>
                <a href="agendamento">Agendamento</a>
            </li>
            <li>
                <a href="pontuacao">Pontuação</a>
            </li>
            <li>
                <a href="material">Materiais</a>
            </li>
        </ul>
    </div>
    </section>

    <center>
        <h2>Agendamento</h2>
    </center>
    <form action="agendamento" method="post">
        <center>
            <label for="txt-data">Data</label>
            <input type="datetime-local" id="txt-data" />
            <br>
            <button type="submit">Confirmar</button>
        </center>
    </form>
</body>
</html>