<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>RE-CICLO</title>
    <link href="sites.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <center>
      <h1>Re-Ciclo</h1>        
    </center>
    <section>
				<div>
          <ul>
            <li>
              <a href="cadastrar">Cadastro</a>            
            </li>
            <li>
              <a href="agendamento">Agendamento</a>
            </li>            
            <li>
              <a href="cupom">Cupom</a>
            </li>
            <li>
              <a href="pontuacao">Pontuação</a>
            </li>
            <li>
              <a href="resgate">Resgate de Pontos</a>
            </li>
            <li>
              <a href="material">Materiais</a>
            </li>
          </ul>      
        </div>
    </section>
    <section>     
      <article>
        <p>
          <div align="justify">
          Para colaborar com um planeta mais limpo, o Re-Ciclo criou um programa de reciclagem de materiais plásticos, vidros, metais e papéis. Com a sua ajuda, iremos direcionar os recicláveis aos destinos corretos, e te recompensar por isso. Oba! Mas não se preocupe, pensamos na forma mais conveniente para fazer isso. Escolha o melhor dia e horário, e agende o recolhimento dos recicláveis.
            </div>
        </p>  
      </article>
    </section>
    <section>
        <table>
          <tr>
            <th>
              Agendamento
            </th>
            <th>
              Cupom
            </th>
            <th>
              Pontuação
            </th>
            <th>
              Materiais
            </th>
          </tr>
          <tr>
            <td>
              <div align="justify">
              Ficar procurando um local para levar o seu lixo reciclável é coisa do passado! Conte com a comodidade do Agendamento da coleta, escolhendo data e horário para ela acontecer. Ah.. vale lembrar que você ainda será recompensado por isso!
              </div>
            </td>
            <td>
              <div align="justify">
                Você já pensou em ajudar o meio ambiente e, ainda, conquistar o item dos seus sonhos? Com o Re-clico é assim! O material reciclado que você junta e nós recolhemos se transforma em cupons de desconto em nossas lojas parceiras.
Vem fazer parte dessa iniciativa, vem ser Re-clico!
                </div>
            </td>
            <td>
              <div align="justify">
               Separou os materiais, agendou a coleta, entregou os materiais, teve os pontos lançados? Agora é hora de vir conferir sua pontuação e descobrir 
a quais cupons você tem direito! Verifique sua pontuação e comece logo a usufruir dos benefícios de fazer parte da comunidade Re-ciclo!
              </div>
            </td>
            <td>
              <div align="justify">
              Vamos reaproveitar o Papel, Vidro, Metal e o Plástico!?
              Ter ações diárias de reciclagem não requer uma mudança de estilo de vida como pode parecer. Geralmente, em uma casa ou empresa, há mais materiais recicláveis do que não recicláveis.
                </div>
            </td>          
          </tr>
        </table>      
    </section>
  </body>
  <footer>
    <center>Re-Ciclo - 2022 - Todos os direitos reservados.</center>
  </footer>
</html>