body {
    font: 100% Lucida Sans, Verdana;
    line-height: 26px;
    width: 1200px;
    margin: auto;
    background-color: #79b987;
}

header {
    display: flex;
    background-color: #f4f4f4;
    color: #ffffff;
    padding: 15px;
}

h1, h2, h4 {
    flex-grow: 1;
    text-align: center;
    color: #04674e;
}

body > nav {
    display: flex;
    flex-direction: row-reverse;
    height: 60px;
    align-items: center;
}

section {
    display: flex;
}

    section > article {
        color: #ffffff;
        padding: 10px;
    }

    section > nav {
        display: flex;
        flex-basis: 20%;
        align-items: center;
    }

    section > article > p {
        padding: 30px;
        text-align: justify;
    }

div {
    display: flex;
    justify-content: center;
    width: 100%;
}

ul {
    margin-right: auto;
    margin-left: auto;
}

li {
    display: inline;
    padding: 30px;
}

    li > a {
        text-decoration: none;
        color: #ffffff;
    }

footer {
    text-align: right;
    padding: 10px;
    font-size: 70%;
    color: #04674e;
}

table {
    width: 100%;
}

    table td {
        padding: .5em .5em .5em 3em;
    }

form {
    max-width: 400px;
    margin: 10px auto;
    padding: 10px 20px;
    background: #f4f7f8;
    border-radius: 8px;
}

button {
    padding: 19px 39px 18px 39px;
    color: #FFF;
    background-color: #4bc970;
    font-size: 18px;
    text-align: center;
    font-style: normal;
    border-radius: 5px;
    width: 50%;
    border: 1px solid #3ac162;
    border-width: 1px 1px 3px;
    box-shadow: 0 -1px 0 rgba(255,255,255,0.1) inset;
    margin-bottom: 10px;
}
#botao {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #4CAF50;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
}

input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime-local"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
textarea,
select {
    background: rgba(255,255,255,0.1);
    border: none;
    font-size: 16px;
    height: auto;
    margin: 0;
    outline: 0;
    padding: 15px;
    width: 85%;
    background-color: #e8eeef;
    color: #8a97a0;
    box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
    margin-bottom: 30px;
}

table {
    width: 100%;
    text-align: center;
    padding: .5em .5em .5em 3em;
    color: #ffffff;
}
