
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Resgate Efetuado</title>
    <link href="sites.css" rel="stylesheet" type="text/css">
</head>
<body>
    <center>
        <h1>Resgate de Cupom</h1>
    </center>
    <section>
        <div>
           <ul>
                <li>
                    <a href="hone">Inicial</a>
                </li>
                <li>
                    <a href="agendamento">Agendamento</a>
                </li>
                <li>
                    <a href="cupom">Cupom</a>
                </li>
                <li>
                    <a href="pontuacao">Pontuação</a>
                </li>
                <li>
                    <a href="resgate">Resgate de Pontos</a>
                </li>
                <li>
                    <a href="material">Materiais</a>
                </li>
            </ul>
        </div>
    </section>
    <center>
        <p>
            <img src="imagens/resgate1.png"
                 width="350" height="500">
        </p>
    </center>
    </body>
</html>
