<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Materiais Recicláveis</title>
    <link href="style.css" rel="stylesheet" type="text/css">
</head>
<body>
    <center>
        <h1>Re-Ciclo</h1>
    </center>
    <section>
        <div>
            <ul>
                <li>
                    <a href="tabela">Vidro</a>
                </li>
                <li>
                    <a href="tabela">Papel</a>

                </li>
                <li>

                    <a href="tabela">Metal</a>
                </li>

                <li>
                    <a href="tabela">Plástico</a>
                </li>
                <li>
                    <a href="home">Inicial</a>
                </li>
                <p>
                    <img src="imagens/logo_reciclaveis.jpg"
                         width="450" height="150">
                </p>
            </ul>

        </div>
    </section>
    <center>
        <h2>Materiais recicláveis</h2>
    </center>
    <h4 align="center"><b>Exemplos de Materiais que podem ser reciclados:</b></h4>
    <section>
        <table border="1">
            <tr>
                <th>Vidro</th>
                <th>Papel</th>
                <th>Metal</th>
                <th>Plástico</th>
            </tr>
            <td>
                Garrafas - Potes de conservas - Frascos em geral - Copos - Vidros de janelas.
            </td>
            <td>Jornal, revistas e impressos - Papel branco e misto - Embalagens longa vida - Embalagens diversas de Papel - Papel laminado - Papel térmico - Papelão - Sacolas de papel</td>
            <td> Latas de bebidas - Tampinhas de garrafas - Pregos - Tubos - Panelas - Arames - Fios de cobre - Embalagens metálicas</td>
            <td>Garrafas PET - Sacolas Plásticas - PVC - PS - Polietileno - EVA - PEBD - ABS - BOPP</td>
            </td>
            </tr>
        </table>
    </section>
</body>
</html>